[Desktop Entry]
Version=1.0
Name=localsend
Exec=localsend
Icon=/opt/localsend/LocalSend.png
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=localsend_app
